<div class="row">
  <div class="col-xs-12">
    <!--ovo je template driven approach za kreiranje form-a-->
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-9 form-group">
          <label for="name">Name</label>
          <input 
            type="text"
            id="name" 
            class="form-control"
            name="name"
            ngModel
            required
            >
        </div>
        <div class="col-sm-3 form-group">
          <label for="amount">Amount</label>
          <input 
            type="number" 
            id="amount" 
            class="form-control"
            name="amount"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
            >
        </div>
      </div>

      <div class="row">
       
          <button 
          class="btn btn-success btn-circle" 
          type="submit" 
          [disabled]="!f.valid"><span class="glyphicon glyphicon-{{ editMode ? 'pencil' : 'plus' }}"></span></button>
     
          <button 
          class="btn btn-primary btn-circle" 
          type="button" 
          (click) = "onClear()"><span class="glyphicon glyphicon-remove"></span></button>
       
       
          <button 
          class="btn btn-danger btn-circle" 
          type="button" 
          (click) = "onDelete()"
          *ngIf="editMode"><span class="glyphicon glyphicon-trash"></span></button>
        
      </div>
    </form>
  </div>
</div> 