.btn-circle {
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 35px;
    margin-left: 45%;
    margin-top: 30px;
    background-color: #ffffff;
    border: 1px solid #fe0067;
    }

.btn-circle:focus,
.btn-circle:active,
.btn-circle:hover{
    outline: none;
    background-color: #fe0067;
    transition: all .9s ease-in-out;
}
.line{
    margin-top: 30px;
    border: 3px solid #ffffff;
}
h3 {
    color: #fe0067;
    font-weight: 500;
    font-size: 19px;
    margin-top:10px;
}
.btn-circle>h3:focus,
.btn-circle>h3:active,
.btn-circle>h3:hover {
    color: #ffffff;
    
}